[submodule "pelican-fh5co-marble"]
	path = pelican-fh5co-marble
	url = https://github.com/pyladies/pelican-fh5co-marble
	branch = master
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
[submodule "output"]
	path = output
	url = https://github.com/pyladies/pyladies-election-website.git
	branch = gh-pages
